<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Job Portal{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <a href="{% url 'home' %}" class="logo">
      <img src="{% static 'images/logo.jpg' %}" alt="" title="Job Portal" style="height: 40px;">
    </a>
    
    <a href="{% url 'search' %}" title="Search"><i class="fas fa-search"></i></a>
    <a href="{% url 'home' %}" title="Home"><i class="fas fa-home"></i></a>
    <a href="{% url 'network' %}" title="Network"><i class="fas fa-users"></i></a>
    <a href="{% url 'notification' %}" title="Notifications"><i class="fas fa-bell"></i></a>
    <a href="{% url 'profile' %}" title="Profile"><i class="fas fa-user-circle"></i></a>
    <a href="{% url 'signin' %}" title="Signin">sign in</a>
    <a href="{% url 'signup' %}" title="Signup">sign up</a>
  </nav>

  <!-- Page-Specific Content -->
  <main>
    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
  </main>


  <script src="{% static 'js/script.js' %}"></script>
  <!-- Footer -->
  <footer class="footer">
    <p>Copyrights @lokechan24</p>
  </footer>
</body>
</html>
